[Unit]
Description=Kodi Remote Webserver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/run.sh

[Install]
WantedBy=multi-user.target
