body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #1c1c1c;
}

.nav {
    background-color: #2e2e2e;
    position: fixed;
    float: left;
    width: 100%;
    margin: 0;
    left: 0px;
    top: 0px;
    height: 30px;
    z-index: 1000;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #333333;
}

.navbar-left {
    float: left;
    padding: 6px 16px;
}
.navbar-right {
    float: right;
    height: 30px;
}
.nav img {
    height: 30px;
}


.root {
    padding-top: 20px;
}
.youtube {
    padding-top: 20px;
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: #2e2e2e;
    color: white;
    margin: 3px;
    border: 0px;
    border-radius: 10px;
    outline: none;
    overflow: hidden;
}

.root button {
    width: 340px;
    position: relative;
}

.root p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}

.youtube button {
    height: 35px;
    width: 35px;
}

.youtube-input {
    width: 30%;
    height: 35px;
    background-color: #2e2e2e;
    border: 0;
    outline: 0;
    color: white;
    padding-left: 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.openlocal {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 5px;
    background-size: cover;
}

.openlocal-twitch {
    right: 5px;
    background-image: url("/static/glitch.png");
}

.openlocal-chat {
    left: 5px;
    background-image: url("/static/chat.png");
}

.error {
    font-family: 'Roboto', sans-serif;
    color: white;
}
